@import url(_colors.css);
@import url(_return-button.css);

* {
  font-family: 'Press Start 2P', 'VT323', monospace, sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
  transition: all ease-in-out .2s;
  scroll-behavior: smooth;
  border: none;
  ::-webkit-scrollbar {
    display: none;
  }
}

body{
  background: url(../img/pokemons-bg.png) center center / cover no-repeat fixed;
}

.content {
  width: 100vw;
  min-height: 100vh;
  padding: 1rem;
  background-color: var(--transparent);
}
.content h1 {
  color: var(--black);
}

/*Media Queries*/
@media screen and (min-width: 992px) {
  .content {
    max-width: 992px;
    height: auto;
    margin: 1rem auto;
    border-radius: 1rem;
  }  
}